<div class="app">
<div id="logo-container">
    <img src="zdr.jpg" alt="Zello Logo" id="logo" width="200" height="77">
    <h2>Zello Configuration (Z-Con)</h2>
</div>

<form action="submit.php" method="post">
    <label for="zelloUser">Zello User:</label><br>
    <input type="text" id="zelloUser" name="zelloUser"><br>

    <label for="zelloPassword">Zello Password:</label><br>
    <input type="password" id="zelloPassword" name="zelloPassword"><br>

    <label for="zelloChannel">Zello Channel:</label><br>
    <input type="text" id="zelloChannel" name="zelloChannel"><br>

    <label for="issuerKey">Issuer Key:</label><br>
    <input type="text" id="issuerKey" name="issuerKey"><br>

    <label for="zelloSecretKey">Zello Secret Key:</label><br>
    <textarea id="zelloSecretKey" name="zelloSecretKey" rows="3" style="width: 250px;"></textarea><br>

    <label for="rtlFmPrompt">RTL_FM Prompt:</label><br>
    <textarea id="rtlFmPrompt" name="rtlFmPrompt" rows="6" style="width: 500px;"></textarea><br> <!-- Upraveno na textové pole s 6 řádky a dvojnásobnou šířkou -->

    <div class="button-container">
        <input type="submit" value="Save">
        <input type="submit" value="Reboot">
    </div>
</form><br><br>
Integer imperdiet lectus quis justo. Morbi scelerisque luctus velit. Nunc auctor. 
Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
Fusce tellus odio, dapibus id fermentum quis, suscipit id erat. Nullam at arcu a est 
sollicitudin euismod. Maecenas libero. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
Duis viverra diam non justo. Mauris suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, 
vel sagittis velit mauris vel metus. Vivamus porttitor turpis ac leo. Nam sed tellus id magna elementum 
tincidunt. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut 
perferendis doloribus asperiores repellat. Fusce nibh. Praesent id justo in neque elementum ultrices. Vestibulum 
fermentum tortor id mi. Etiam commodo dui eget wisi. Aenean vel massa quis mauris vehicula lacinia. Mauris tincidunt sem sed arcu.
</div>